# OS / misc
.DS_Store
Thumbs.db
*.log
*.swp
*.pyc
*.class
.history
.svn/
.atom/
.metadata/
.buildlog/

# Secrets
.env
.env.*
gcp-credentials.json
dart_defines.json

# IDEs
.idea/
.vscode/
.vs/
*.iml
*.ipr
*.iws

# Node / Web
node_modules/
.next/
dist/
.build/

# Flutter / Dart / Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
migrate_working_dir/
**/doc/api/
.melos_tool

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/engine.xcconfig
ios/Flutter/pod_cached_built_ios_frameworks
ios/Runner/Assets.xcassets/AppIcon.appiconset/
ios/Runner.xcworkspace/

# Android
android/.gradle/
android/app/build/
android/build/
android/app/debug/
android/app/profile/
android/app/release/
android/app/src/main/jniLibs/
android/key.properties
android/local.properties

# Build artifacts
build/
*.apk
*.aab
*.ipa
*.jar
app.*.symbols
app.*.map.json

# Tesseract data
assets/tessdata/
*.zip

# Dumps / DB snapshots
*.sql
*.dump
*.bak

# Backups / temp
landing-backup-*/
dump/
